{% extends 'baseinscri.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}


<br>
<br>

<div class="container"  style="margin: 0 auto; width: 50%; background: whitesmoke;">
    <div class="modal-header">
        <h5 class="modal-title" >Demande Livreur</h5>

    </div>
    {{ form_start(registrationForm) }}
    {{ form_errors(registrationForm) }}
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa  fa-users"></i>
                    </div>
                    {{ form_row(registrationForm.nom,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Tapez votre nom'}}) }}
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa  fa-user"></i>
                    </div>
                    {{ form_row(registrationForm.prenom,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Tapez votre Prenom'}}) }}

                </div>
            </div>
            <!-- /.col -->
        </div>
        <br>
        <div class="form-group">

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-at"></i>
                </div>
                {{ form_row(registrationForm.email,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Tapez votre adresse email'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa  fa-lock"></i>
                    </div>
                    <br>

                    {{ form_row(registrationForm.plainPassword.first,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Tapez votre mot de passe'}}) }}
                    {{ form_widget(registrationForm.plainPassword.second,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Confirmez votre mot de passe'}}) }}



                </div>
            </div>
            <!-- /.col -->
            <!--   <div class="col-xs-6">
                   <div class="input-group">

                       <div class="input-group-addon">
                           <i class="fa  fa-lock"></i>
                       </div>
                   </div>
               </div>-->
            <!-- /.col -->
        </div><br>
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa  fa-phone"></i>
                    </div>
                    {{ form_row(registrationForm.numtel1,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Tapez votre numero de télephone 1' }} ) }}

                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa  fa-phone"></i>
                    </div>
                    {{ form_row(registrationForm.numtel2,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Tapez votre numero de téléphone 2'}}) }}


                </div>
            </div>
            <!-- /.col -->
        </div>
        <br>
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">



                    <!-- radio -->
                    <div class="form-group" style="margin-left:15px;">

                        <label> Type de vehicule </label>
                        <div class="input-group-addon">
                            <label >
                                <i class="fa fa-car"></i>
                                {{ form_widget(registrationForm.typevehicule[0],{'attr': {'class': 'minimal'}}) }}
                                Voiture
                            </label>
                            <label style="margin-left:10px;">
                                <i class="fa  fa-motorcycle	"></i>
                                {{ form_widget(registrationForm.typevehicule[1],{'attr': {'class': 'minimal'}}) }}
                                Moto
                            </label>

                            <label>
                                <i class="fa fa-bicycle" style="margin-left:10px;"></i>
                                {{ form_widget(registrationForm.typevehicule[2],{'attr': {'class': 'minimal'}}) }}
                                Velo
                            </label>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group">

                        {{ form_row(registrationForm.ville,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Où vous êtes Diponible ?' }} ) }}

                    </div>
                </div>
                <!-- /.col -->

                <!-- /.col -->
            </div>

            <br>

            <div class="row">
                <div class="col-xs-6">


                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        {{ form_widget(registrationForm.typepapier,{ 'attr': {'class': 'inp-form' }}) }}


                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-credit-card"></i>
                        </div>
                        {{ form_widget(registrationForm.numpapier ,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Numero de papier'}}) }}

                    </div>
                </div>

            </div>





            <br>
        </div>
        <!-- /.input group -->
        <div class="form-group" style="margin-left:15px;">

            <label>Date de naissance:</label>

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                {{ form_widget(registrationForm.datenaissance,{ 'attr': {'class': "inp-form"}}) }}

            </div>
        </div>
        <div class="checkbox icheck" style="margin-left:15px;">
            {{ form_widget(registrationForm.terms) }}

            J'ai lu et accepté les<a href="#" style="color:#f0932b;"  data-toggle="modal" data-target="#inscC"> Termes et conditions  et la Politique de confidentialité</a>

        </div>
        <center>        <button class="btn btn btn-aa btn-block btn-flat" style="width:400px;" >Inscription</button>
        </center>
    </div>

    <div id="inscC" class="modal fade">

        {{ include ('condi/showmodal.html.twig') }}

    </div>
    {{ form_widget(registrationForm.etat ,{ 'attr': {'class': 'inp-form' , 'placeholder': 'Localisation'}}) }}

    {{ form_end(registrationForm) }}

    {% endblock %}
