{% extends 'base.html.twig' %}

	{% block body %}
        <main class="app-content">
            <div class="app-title">

                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-server fa-lg"></i></li>
                    <li class="breadcrumb-item"><a href="#">Commandes</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="table-wrapper" >
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Liste des  <b>Commandes</b></h2>
                            </div>

                        </div>
                    </div>


                    <table id="regions" class="table table-bordered table-striped">
                        <thead>
                        <tr>

                            <th>Id</th>
                            <th> Client</th>
                            <th>Numero téléphone client</th>

                            <th>Adresse</th>
                            <th>Livreur</th>
                            <th>Etat</th>

                            <th>Date commande</th>
                            <th>CRL</th>
                            <th>CCL</th>


                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>



                        {% for commande in commandes %}
                            {% if commande.etat=='payer' %}
                            <tr style="background-color: #68c3a3;">

                                    <td>{{ commande.id }}</td>
                                    <td>{{ commande.client.getNom()  }}  {{ commande.client.getPrenom() }}</td>
                                    <td>{{ commande.client.getNumtel1()  }} / {{ commande.client.getNumtel2() }}</td>
                                    <td>{{ commande.client.getAdresse()  }} </td>
                                    {% if commande.livreur is null %}
                                    <td></td>
                                    {% else %}
                                    <td>{{ commande.livreur.getNom()  }}  {{ commande.livreur.getPrenom() }}</td>
                                    {% endif %}
                                    <td>{{ commande.etat  }} </td>
                                    <td>{{ commande.datecommande |date('Y-m-d-H:i:s')  }} </td>
                                    <td>{{ commande.codeconfirmlivfour  }} </td>
                                    <td>{{ commande.codeconfirmlivcli  }} </td>

                                    <td>    <a  href="{{ path('commande_show', {'id': commande.id}) }}"  ><i title="Voir" class="material-icons">&#xE8F4;</i></a>
                                    </td>



                            </tr>
                                {% else %}
                                    <tr>

                                        <td>{{ commande.id }}</td>
                                        <td>{{ commande.client.getNom()  }}  {{ commande.client.getPrenom() }}</td>
                                        <td>{{ commande.client.getNumtel1()  }} / {{ commande.client.getNumtel2() }}</td>
                                        <td>{{ commande.client.getAdresse()  }} </td>
                                        {% if commande.livreur is null %}
                                            <td></td>
                                        {% else %}
                                            <td>{{ commande.livreur.getNom()  }}  {{ commande.livreur.getPrenom() }}</td>
                                        {% endif %}
                                        <td>{{ commande.etat  }} </td>
                                        <td>{{ commande.datecommande |date('Y-m-d-H:i:s')  }} </td>
                                        <td>{{ commande.codeconfirmlivfour  }} </td>
                                        <td>{{ commande.codeconfirmlivcli  }} </td>

                                        <td>    <a  href="{{ path('commande_show', {'id': commande.id}) }}"  ><i title="Voir" class="material-icons">&#xE8F4;</i></a>
                                        </td>



                                    </tr>

                            {% endif %}

                        {% endfor %}





                        </tbody>
                    </table>


                </div>
            </div>
            <!-- Add Modal HTML -->






        </main>



    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(function () {
            $('#regions').DataTable( {
                "language": {
                    "lengthMenu": "afficher _MENU_ enregistement par page",
                    "zeroRecords": "Aucun enregistrement a été trouvé !",
                    "info": "Page _PAGE_ de _PAGES_ pages",
                    "infoEmpty": "Aucun enregistrement",
                    "infoFiltered": "(filtré de  _MAX_ total enregistement)",
                    "search": "Recherche:",
                    "paginate": {
                        "previous": "Precédent",
                        "next" : "suivant"
                    }
                }
            } );
        })
    </script>

    <!-- jQuery 3 -->
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- DataTables -->
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
  <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <!-- SlimScroll -->
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js')}}"></script>

{% endblock %}