{% extends 'base.html.twig' %}

	{% block body %}
        <main class="app-content">
            <div class="app-title">

                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-building fa-lg"></i></li>
                    <li class="breadcrumb-item"><a href="#">Clients</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="table-wrapper" style="width:800px;margin-left:100px;">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Liste des  <b>Clients</b></h2>
                            </div>

                        </div>
                    </div>

                    <div class="table-title" >
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="container">


                                </div>
                            </div>

                            <div class="col-sm-6">



                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>

                            <th>{{ knp_pagination_sortable(properties, 'id','id') }}</th>
                            <th>{{ knp_pagination_sortable(properties, 'email','email') }}</th>
                            <th>{{ knp_pagination_sortable(properties, 'nom prenom','nom') }}</th>
                            <th>{{ knp_pagination_sortable(properties, 'numtel1','numtel1') }}</th>
                            <th>{{ knp_pagination_sortable(properties, 'adresse','adresse') }}</th>


                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>



                        {% for client in properties %}

                            <tr>
                                <client>
                                    <td>{{ client.id }}</td>
                                    <td>{{ client.email }}</td>
                                    <td>{{ client.nom }} {{ client.prenom }} </td>
                                    <td>{{ client.numtel1 }}</td>
                                    <td>{{ client.adresse }}</td>

                                    <td>    <a  href="{{ path('client_show', {'id': client.id}) }}"  ><i title="Voir" class="material-icons">&#xE8F4;</i></a>
                                    </td>


                                </client>
                            </tr>
                        {% endfor %}





                        </tbody>
                    </table>
                    <div class="clearfix">

                        <ul class="pagination">
                            {{ knp_pagination_render(properties) }}
                        </ul>
                    </div>

                </div>
            </div>
            <!-- Add Modal HTML -->






        </main>



    {% endblock %}
