{% extends 'base3.html.twig' %}
{% block title %}Panier!{% endblock %}


{% block body %}
    <div class="container mb-4">
    <div class="row">
    <div class="col-12">
<div class="table-responsive">
    <table class="table table-striped" style="margin-top: 40px;">
<thead style="background: white">


<th scope="col"></th>
<th scope="col">Article</th>
<th scope="col">Qte</th>
<th scope="col">Prix</th>
<th scope="col">Prix Total</th>
<th scope="col">Supplements</th>
<th scope="col">Action</th>
</thead>
        <tbody >

        {% for key,value in articles %}
        <tr style="background: whitesmoke">
            <td> <img src="{{ asset('images/articles/'~ articles[key].imageName) | imagine_filter('test') }}"/> </td>
            <td>{{ articles[key].libele }}</td>
            <td><a href="{{ path('panier_minus' ,  {'id': articles[key].id}) }}">-</a>  {{ qts[key] }}
                <a href="{{ path('panier_plus', {'id': articles[key].id}) }}">+</a> </td>
            <td>{{ articles[key].prix }} DT</td>
            <td>{{ qts[key] * articles[key].prix }} DT</td>
            <td>
                {% for index,val in suppse[key] %}
                       {{ val.libele }} : {{ val.prix }}  <br>
                {% endfor %}
            </td>

            <td><a href="{{ path('panier_supprimer' , {'id': articles[key].id}) }}" class="btn btn-sm btn-danger"><i  class="fa fa-trash">    </i> </a></td>
        </tr>

        {% endfor %}
        <tr style="background: whitesmoke">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total </td>
            <td>{{ total }} DT </td>
        </tr>
        <tr style="background: whitesmoke">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Frais livraison </td>
            <td>{{ formule.frais }}DT </td>
        </tr>
        <tr style="background: whitesmoke">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total Commande </td>
            {{ form_start(form) }}
            <td> {{ form_row(form.total) }}</td>

            <td>{{ total + formule.frais }}  DT</td>
        </tr>
        </tbody>





    </table>
</div>
    </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12 col-md-6">






                <button class="btn btn-block btn-light" href="{{ path('home' ) }}"> Continuer les achats</button>

                </div>
                <div class="col-sm-12 col-md-6 text-right">



                    {% if  app.user %}


                    {% if total +formule.frais>=formule.seuil %}

                    <button class="btn btn-block   text-uppercase" style=" color: #fff; background-color: #28a745;
                    border-color: #28a745;"> Commander</button>
                    {% else %}
                                 <button class="btn btn-block   text-uppercase" disabled style=" color: #fff; background-color: #28a745;
                    border-color: #28a745;"> Commander</button>
                        <div class="alert alert-danger" role="alert">
                           Seuil doit être supérieur ou égale à {{ formule.seuil }}DT
                        </div>
                    {% endif %}
{% else %}
    <div class="alert alert-danger" role="alert">
        Vous devez vous connecter avant de commander !                        </div>
                    {% endif %}



                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}