{% extends 'baseinscri.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% block body %}
    <main class="app-content">
    $
        <div class="container">
            <div class="table-wrapper" style="width:800px;height: 450px; margin-top:-20px;  margin-left:100px;">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Modifier <b> Mot de passe </b></h2>
                        </div>

                    </div>
                </div>

                {{ form_start(form) }}
                {{ form_row(form.oldPassword,{'attr':{'class':'form-control','placeholder':'Ancien mot de passe'}}) }}
                {{ form_row(form.newPassword.first,{ 'attr': {'class': 'form-control' , 'placeholder': 'Tapez votre mot de passe'}}) }}
                {{ form_row (form.newPassword.second,{ 'attr': {'class': 'form-control' , 'placeholder': 'Confirmez votre mot de passe'}}) }}
                <button class="btn btn-success" style="width: 70%; margin-left: 70px; margin-top: 10px;">{{ button_label|default('Modifier') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}
