{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <main class="app-content">
        <div class="app-title">

            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-building fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">Région</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="table-wrapper" style="width:800px;margin-left:100px;">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Gérer <b>client</b></h2>
                        </div>

                    </div>
                </div>
                <h1>Client  <a href="{{ path('livreur_index') }}"><i class="material-icons">&#xE5C4;</i></a></h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ client.id }}</td>
                    </tr>
                    <tr>
                        <th>E-mail</th>
                        <td>{{ client.email }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ client.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ client.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Numero téléphone 1</th>
                        <td>{{ client.numtel1 }}</td>
                    </tr>
                    <tr>
                        <th>Numero téléphone 2</th>
                        <td>{{ client.numtel2 }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ client.adresse }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>{{ client.datenaissance |date('Y-m-d')}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </main>
{% endblock %}
