<div class="container" style="">
<br>
<h1 style="margin-left: 10px;">Ajouter une nouvelle Ville</h1>

{{ form_start(form) }}

    {{ form_row(form.libele,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.region,{'attr':{'class':'ennos'}}) }}
<br>


<br>
<div>
    <button class="btn btn-success" style="width: 70%; margin-left: 70px; margin-right: 10px; margin-bottom: 10px;">{{ button_label|default('Enregistrer') }}</button>

</div>
{{ form_end(form) }}
</div>