{% extends 'base.html.twig' %}
	{% block body %}
        <main class="app-content">
            <div class="app-title">

                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-building fa-lg"></i></li>
                    <li class="breadcrumb-item"><a href="#">Région</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="table-wrapper" style="width:800px;margin-left:100px;">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Gérer <b>Ville</b></h2>
                            </div>
                            <div class="col-sm-6">
                                <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter  Ville</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="table-title" >
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="container">


                                </div>
                            </div>

                            <div class="col-sm-6">



                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>

                            <th>{{ knp_pagination_sortable(properties, 'id','id') }}</th>
                            <th></th>
                            <th></th>
                            <th>{{ knp_pagination_sortable(properties, 'Ville','libele') }}</th>
                            <th>{{ knp_pagination_sortable(properties, 'Region','region') }}</th>
                            <th></th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>



                        {% for region in properties %}
                            <tr>
                                <region>
                                    <td>{{ region.id }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ region.libele }}</td>
                                    <td>{{ region.region.getLibele() }}</td>
                                    <td></td>
                                    <td>

                                        <a href="{{ path('ville_edit', {'id': region.id}) }}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i></a>
                                        <a  href="{{ path('ville_show', {'id': region.id}) }}"  ><i title="Voir" class="material-icons">&#xE8F4;</i></a>
                                    </td>

                                </region>
                            </tr>
                        {% endfor %}





                        </tbody>
                    </table>
                    <div class="clearfix">

                        <ul class="pagination">
                            {{ knp_pagination_render(properties) }}
                        </ul>
                    </div>

                </div>
            </div>


            <!-- Add Modal HTML -->
            <div id="addEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {{ include ('ville/_form.html.twig') }}
                    </div>
                </div>
            </div>

        </main>




{% endblock %}
