<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('cssw/b2/C1.css') }}">
    <link rel="stylesheet" href="{{ asset('cssw/b2/C2.css') }}">
    <link rel="stylesheet" href="{{ asset('cssw/b2/C3.css') }}">
    <link rel="stylesheet" href="{{ asset('cssw/b2/C4.css') }}">
    <script src="{{ asset('cssw/b2/j1.js') }}"></script>
    <script src="{{ asset('cssw/b2/j2.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/main.css') }} ">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{{ asset('js/plugins/pace.min.js') }}"></script>
{% endblock %}

{%  block body %}

{% endblock %}
</body>
</html>
