<div class="container" style="height:270px;">
    <h1 style="margin-left: 10px;">{% if editMode %}
            Modifier la région n° {{ region.id   }}
        {% else %}
            <br>
            Ajouter une nouvelle région
        {% endif %}</h1>
    <br>
    {{ form_start(form) }}

    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">

                {{ form_row(form.nom,{ 'attr': {'class': 'form-control' , 'placeholder': 'Nom'}}) }}
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <div class="input-group">

                {{ form_row(form.prenom,{ 'attr': {'class': 'form-control' , 'placeholder': 'Prenom'}}) }}

            </div>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">




    {{ form_row(form.email,{'attr':{'class':'form-control','placeholder':'Nom de la nouvelle région ...'}}) }}
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <div class="input-group">

    {{ form_row(form.password,{'attr':{'class':'form-control','placeholder':'Nom de la nouvelle région ...'}}) }}
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    {{ form_row(form.numtel1,{'attr':{'class':'form-control','placeholder':'Nom de la nouvelle région ...'}}) }}
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <div class="input-group">

                    {{ form_row(form.numtel2,{ 'attr': {'class': 'form-control' , 'placeholder': 'Prenom'}}) }}

                </div>
            </div>
            <!-- /.col -->
        </div>


        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">

                    {{ form_row(form.adresse,{ 'attr': {'class': 'form-control' , 'placeholder': 'Nom'}}) }}
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <div class="input-group">

                    {{ form_row(form.datenaissance,{ 'attr': {'class': 'form-control' , 'placeholder': 'Prenom'}}) }}

                </div>
            </div>
            <!-- /.col -->
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">

                    {{ form_row(form.nomrestaurant,{ 'attr': {'class': 'form-control' , 'placeholder': 'Nom'}}) }}
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <div class="input-group">

                    {{ form_row(form.tempsapprox,{ 'attr': {'class': 'form-control' , 'placeholder': 'Prenom'}}) }}

                </div>
            </div>
            <!-- /.col -->
        </div>



    {{ form_row(form.imageFile,{'attr':{'class':'form-control','placeholder':'Nom de la nouvelle région ...'}}) }}
    <br>

    {{ form_row(form.region,{'attr':{'class':'form-control','placeholder':'Nom de la nouvelle région ...'}}) }}
    <br>

    <button class="btn btn-success" style="width: 100%;">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
    </div>
</div>