{% extends 'base.html.twig' %}

	{% block body %}
        <main class="app-content">
            <div class="app-title">

                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-building fa-lg"></i></li>
                    <li class="breadcrumb-item"><a href="#">Clients</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="table-wrapper" style="width:900px;margin-left:100px;">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Liste des  <b>Fournisseurs</b></h2>
                            </div>
                            <div class="col-sm-6">
                                <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter  Fournisseur</span></a>
                            </div>
                        </div>
                    </div>


                    <table id="regions" class="table table-bordered table-striped">
                        <thead>
                        <tr>

                            <th>Id</th>
                            <th>Email</th>
                            <th>Restaurant</th>
                            <th>Numero Téléphone</th>
                            <th>Image</th>
                            <th>Etat</th>


                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>



                        {% for fournisseur in fournisseurs %}

                            {% if fournisseur.etat=="Activé" %}
                                <tr style="background: #52BE80;">
                            {% else %}
                                <tr style="background: #D3CBCB;">
                            {% endif %}

                                <td>{{ fournisseur.id }}</td>
                                <td>{{ fournisseur.email }}</td>
                                <td>{{ fournisseur.nomrestaurant }} </td>
                                <td>{{ fournisseur.numtel1 }}</td>
                            <td><img src="{{ asset('images/articles/'~ fournisseur.imageName) | imagine_filter('test') }}" /></td>

                            <td>{{ fournisseur.etat }}</td>

                                <td>
                                    <a href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i></a>

                                    <a  href="{{ path('fournisseur_show', {'id': fournisseur.id}) }}"  ><i title="Voir" class="material-icons">&#xE8F4;</i></a>
                                </td>


                            </tr>
                        {% endfor %}





                        </tbody>
                    </table>


                </div>
            </div>
            <!-- Add Modal HTML -->


            <!-- Add Modal HTML -->
            <div id="addEmployeeModal" class="modal fade" >
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 500px; height: 600px;">
                        {{ include ('fournisseur/_form.html.twig') }}
                    </div>
                </div>
            </div>



        </main>



    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(function () {
            $('#regions').DataTable( {
                "language": {
                    "lengthMenu": "afficher _MENU_ enregistement par page",
                    "zeroRecords": "Aucun enregistrement a été trouvé !",
                    "info": "Page _PAGE_ de _PAGES_ pages",
                    "infoEmpty": "Aucun enregistrement",
                    "infoFiltered": "(filtré de  _MAX_ total enregistement)",
                    "search": "Recherche:",
                    "paginate": {
                        "previous": "Precédent",
                        "next" : "suivant"
                    }
                }
            } );
        })
    </script>

    <!-- jQuery 3 -->
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- DataTables -->
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <!--  <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script> -->
    <!-- SlimScroll -->
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js')}}"></script>

{% endblock %}