{% extends 'base.html.twig' %}

{% block title %}Condi index{% endblock %}

{% block body %}
<main class="app-content">
    <div class="app-title">

        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-building fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Région</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="table-wrapper" style="width:800px;margin-left:100px;">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Gérer <b>Condition</b></h2>
                    </div>
                </div>
            </div>
            <div class="table-title" >
                <div class="row">
                    <div class="col-sm-6">
                        <div class="container">


                        </div>
                    </div>

                    <div class="col-sm-6">



                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th></th>
                    <th>Condition</th>
                    <th></th>

                    <th></th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>

                {% for condi in condis %}
            <tr>
                <td>{{ condi.id }}</td>
                <td></td>
                <td>{{ condi.libele }}</td>
                <td></td>
                <td></td>
                <td>
                    <a href="{{ path('condi_edit', {'id': condi.id}) }}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Modifier">&#xE254;</i></a>

                    <a  href="{{ path('condi_show', {'id': condi.id}) }}"  ><i title="Voir" class="material-icons">&#xE8F4;</i></a>
                </td>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <div class="clearfix">

                <ul class="pagination">
                    {{ knp_pagination_render(properties) }}
                </ul>
            </div>

        </div>
    </div>






</main>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(function () {
            $('#regions').DataTable( {
                "language": {
                    "lengthMenu": "afficher _MENU_ enregistement par page",
                    "zeroRecords": "Aucun enregistrement a été trouvé !",
                    "info": "Page _PAGE_ de _PAGES_ pages",
                    "infoEmpty": "Aucun enregistrement",
                    "infoFiltered": "(filtré de  _MAX_ total enregistement)",
                    "search": "Recherche:",
                    "paginate": {
                        "previous": "Precédent",
                        "next" : "suivant"
                    }
                }
            } );
        })
    </script>

    <!-- jQuery 3 -->
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- DataTables -->
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <!--  <script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script> -->
    <!-- SlimScroll -->
    <script src="{{ asset('bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{ asset('bower_components/fastclick/lib/fastclick.js')}}"></script>

{% endblock %}